[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Daniel Wroblewski (thecodester)
[access "refs/for/refs/*"]
	read = group user/Daniel Wroblewski (thecodester)
	push = group user/Daniel Wroblewski (thecodester)
	label-Code-Review = -2..+2 group user/Daniel Wroblewski (thecodester)
	label-Verified = -1..+1 group user/Daniel Wroblewski (thecodester)
	rebase = group user/Daniel Wroblewski (thecodester)
	removeReviewer = group user/Daniel Wroblewski (thecodester)
	submit = group user/Daniel Wroblewski (thecodester)
[access "refs/heads/*"]
	read = group user/Daniel Wroblewski (thecodester)
	create = group user/Daniel Wroblewski (thecodester)
	push = +force group user/Daniel Wroblewski (thecodester)
	pushMerge = group user/Daniel Wroblewski (thecodester)
[access "refs/tags/*"]
	push = group user/Daniel Wroblewski (thecodester)
	push = +force group user/Daniel Wroblewski (thecodester)
